* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google font useing here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Banner Section design start here */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 90%;
    height: 80vh;
    border-radius: 15px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.banner-text {
    margin-top: 68px;
    margin-left: 68px;
    color: white;
    width: 50%;
    height: 100%;
}

.banner-text>h1 {
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 700;
}

.banner-btn>button {
    border-radius: 5px;
    color: white;
    background-color: red;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 30px;
}

.banner-btn>button:hover {
    background-color: #3e8e41
}

.banner-btn>button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(179, 166, 166);
    transform: translateY(4px);
}

.banner-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Live Section Design Start Here */

.transfer-lives {
    display: flex;
    justify-content: center;
}

.left-corner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-left: 38px;
    width: 200px;
    height: 200px;
    background-color: #ccababf0;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 10px;
    flex-direction: column;
}

.left-corner button {
    width: 120px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    color: #161616;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.left-corner a {
    text-decoration: none;
    color: #161616;
}

#blog {
    background-color: red;
}


.right-corner {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 100px; */
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 50px;
}



.transfer-live {
    width: 312px;
    height: 330px;
    border: 1px solid rgba(128, 128, 128, 0.387);
    border-radius: 10px;
}


.transfer-banner {
    width: 312px;
    height: 175px;
}

.transfer-btn {
    margin-top: 20px;
    margin-left: 10px;
    background-color: white;
}

.btn {
    padding: 3px 10px;
}

.transfer-info {
    margin-top: 15px;
    margin-left: 10px;
}

.transfer-details {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Footer Section Design Start Here */

footer {
    padding: 30px 30px;
    height: 300px;
    align-items: center;
    text-align: center;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

#footer-heading {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

nav a {
    text-decoration: none;
    color: #B9B9B9;
    margin-right: 10px;
    font-weight: 300px;
}

/* match Design Start Here */

.live-match {
    width: 250px;
    height: 250px;
    border: 1px solid rgba(128, 128, 128, 0.387);
    border-radius: 10px;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-left: 25px;
}

.match-info {
    text-align: center;
}